body {
  background-image: url('../images/mountains-universe-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10.2rem;

  height: 100vh;
}